.front{
    margin: 40px;
    float: left;
}
.kvadrat_krug{
    background: rgb(0, 0, 0);
    position: relative;
    left: 80%;
    top: 200px;
    margin-bottom: 10px;
    height: 150px;
    width: 150px;
}

.krug{
    background: rgb(245, 0, 0);
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%; 
}
.two{
    left:25px;
    top: 20px;
}

.three{
    left: 50px;
    top: 50px;
}


